@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

body, main{
    padding: 0px;
    margin: 0px;
}

/*header*/

header{
    width: 100%;
    height: 10vh;
}

header nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

header nav ol{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding-left: 0px;
}

header nav ol li{
    list-style: none;
    padding: 5px 10px;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    color: black;
}

header nav ol li:hover{
    background-color: purple;
    cursor: pointer;
}
 /*secciones*/

 .container-main{
    width: 100%;
}
.container-main .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.container-main .row .col-30{
    width: 18em;
    height: 50vh;
    margin: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.container-main .row .col-30 h1{
    font-family: 'Barlow', sans-serif;
    font-size: 2.8rem;
    color:black;
    text-align: center;
}
.container-main .row .col-30:nth-child(1){
    background-image: url('https://image.freepik.com/free-vector/pink-vase-with-flowers_1639-4508.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.container-main .row .col-30:nth-child(2){
    background-image: url('https://img.freepik.com/vector-gratis/fondo-logo-muebles-minimalistas_23-2148464059.jpg?size=338&ext=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.container-main .row .col-30:nth-child(3){
    background-image: url('https://img.freepik.com/vector-gratis/fondo-logo-muebles-minimalistas_23-2148464059.jpg?size=338&ext=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.container-main .row .col-30:nth-child(4){
    background-image: url('https://img.freepik.com/vector-gratis/fondo-logo-muebles-minimalistas_23-2148464059.jpg?size=338&ext=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.container-main .row .col-30 p{
    text-align:center;
    background-color: rgba(0, 0, 0, 0.5);
    color: green;
    font-family: 'Barlow', sans-serif;
    padding: 10px;
    margin-bottom: 0px;
}